<div class="main-content" *ngIf="!!actionEffectTypes && !!heroTypeTypes && !!heroType">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content">
                        <form #f="ngForm" (ngSubmit)="save(f.value)">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control" required [ngModel]="heroType.name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group  form-black">
                                        <label>Quality</label>
                                        <select name="quality" class="form-control" required [ngModel]="heroType.quality">
                                            <option *ngFor="let v of heroTypeTypes.heroTypeQualitys">{{v}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label>Role</label>
                                        <select name="role" class="form-control" required [ngModel]="heroType.role">
                                            <option *ngFor="let v of heroTypeTypes.heroTypeRoles">{{v}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label>Faction</label>
                                        <select name="faction" class="form-control" required [ngModel]="heroType.faction">
                                            <option *ngFor="let v of heroTypeTypes.heroTypeFactions">{{v}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label>Damage Type</label>
                                        <select name="damageType" class="form-control" required [ngModel]="heroType.damageType">
                                            <option *ngFor="let v of heroTypeTypes.damageTypes">{{v}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label>Distance Type</label>
                                        <select name="distanceType" class="form-control" required [ngModel]="heroType.distanceType">
                                            <option *ngFor="let v of heroTypeTypes.distanceTypes">{{v}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Dmg</label>
                                        <input type="text" name="minBaseDmg" class="form-control" required [ngModel]="heroType.minBaseDmg">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Armor</label>
                                        <input type="text" name="minBaseArmor" class="form-control" required [ngModel]="heroType.minBaseArmor">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base MR</label>
                                        <input type="text" name="minBaseMagicResist" class="form-control" required [ngModel]="heroType.minBaseMagicResist">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Speed</label>
                                        <input type="text" name="minBaseSpeed" class="form-control" required [ngModel]="heroType.minBaseSpeed">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Luck</label>
                                        <input type="text" name="minBaseLuck" class="form-control" required [ngModel]="heroType.minBaseLuck">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Crit %</label>
                                        <input type="text" name="minBaseCritChance" class="form-control" required [ngModel]="heroType.minBaseCritChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Crit Dmg</label>
                                        <input type="text" name="minBaseCritDamage" class="form-control" required [ngModel]="heroType.minBaseCritDamage">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base Dodge %</label>
                                        <input type="text" name="minBaseDodgeChance" class="form-control" required [ngModel]="heroType.minBaseDodgeChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min Base HP</label>
                                        <input type="text" name="minBaseHp" class="form-control" required [ngModel]="heroType.minBaseHp">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Dmg</label>
                                        <input type="text" name="maxBaseDmg" class="form-control" required [ngModel]="heroType.maxBaseDmg">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Armor</label>
                                        <input type="text" name="maxBaseArmor" class="form-control" required [ngModel]="heroType.maxBaseArmor">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base MR</label>
                                        <input type="text" name="maxBaseMagicResist" class="form-control" required [ngModel]="heroType.maxBaseMagicResist">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Speed</label>
                                        <input type="text" name="maxBaseSpeed" class="form-control" required [ngModel]="heroType.maxBaseSpeed">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Luck</label>
                                        <input type="text" name="maxBaseLuck" class="form-control" required [ngModel]="heroType.maxBaseLuck">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Crit %</label>
                                        <input type="text" name="maxBaseCritChance" class="form-control" required [ngModel]="heroType.maxBaseCritChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Crit Dmg</label>
                                        <input type="text" name="maxBaseCritDamage" class="form-control" required [ngModel]="heroType.maxBaseCritDamage">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base Dodge %</label>
                                        <input type="text" name="maxBaseDodgeChance" class="form-control" required [ngModel]="heroType.maxBaseDodgeChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max Base HP</label>
                                        <input type="text" name="maxBaseHp" class="form-control" required [ngModel]="heroType.maxBaseHp">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Dmg</label>
                                        <input type="text" name="minMaxLevelDmg" class="form-control" required [ngModel]="heroType.minMaxLevelDmg">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Armor</label>
                                        <input type="text" name="minMaxLevelArmor" class="form-control" required [ngModel]="heroType.minMaxLevelArmor">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML MR</label>
                                        <input type="text" name="minMaxLevelMagicResist" class="form-control" required [ngModel]="heroType.minMaxLevelMagicResist">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Speed</label>
                                        <input type="text" name="minMaxLevelSpeed" class="form-control" required [ngModel]="heroType.minMaxLevelSpeed">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Luck</label>
                                        <input type="text" name="minMaxLevelLuck" class="form-control" required [ngModel]="heroType.minMaxLevelLuck">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Crit %</label>
                                        <input type="text" name="minMaxLevelCritChance" class="form-control" required [ngModel]="heroType.minMaxLevelCritChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Crit Dmg</label>
                                        <input type="text" name="minMaxLevelCritDamage" class="form-control" required [ngModel]="heroType.minMaxLevelCritDamage">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML Dodge %</label>
                                        <input type="text" name="minMaxLevelDodgeChance" class="form-control" required [ngModel]="heroType.minMaxLevelDodgeChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Min ML HP</label>
                                        <input type="text" name="minMaxLevelHp" class="form-control" required [ngModel]="heroType.minMaxLevelHp">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Dmg</label>
                                        <input type="text" name="maxMaxLevelDmg" class="form-control" required [ngModel]="heroType.maxMaxLevelDmg">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Armor</label>
                                        <input type="text" name="maxMaxLevelArmor" class="form-control" required [ngModel]="heroType.maxMaxLevelArmor">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML MR</label>
                                        <input type="text" name="maxMaxLevelMagicResist" class="form-control" required [ngModel]="heroType.maxMaxLevelMagicResist">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Speed</label>
                                        <input type="text" name="maxMaxLevelSpeed" class="form-control" required [ngModel]="heroType.maxMaxLevelSpeed">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Luck</label>
                                        <input type="text" name="maxMaxLevelLuck" class="form-control" required [ngModel]="heroType.maxMaxLevelLuck">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Crit %</label>
                                        <input type="text" name="maxMaxLevelCritChance" class="form-control" required [ngModel]="heroType.maxMaxLevelCritChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Crit Dmg</label>
                                        <input type="text" name="maxMaxLevelCritDamage" class="form-control" required [ngModel]="heroType.maxMaxLevelCritDamage">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML Dodge %</label>
                                        <input type="text" name="maxMaxLevelDodgeChance" class="form-control" required [ngModel]="heroType.maxMaxLevelDodgeChance">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-black">
                                        <label>Max ML HP</label>
                                        <input type="text" name="maxMaxLevelHp" class="form-control" required [ngModel]="heroType.maxMaxLevelHp">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="card cardAction">

                                    <div class="card-header" data-background-color="blue">

                                        <div class="form-check form-black">
                                            <input class="form-check-input" type="checkbox" name="haveDefaultAction" (click)="changeHaveDefaultAction()" [ngModel]="heroType.defaultAction!=null">
                                            <label class="title form-check-label">Default Action</label>
                                            <button *ngIf="heroType.defaultAction!=null" type="button" style="margin: 0px" class="btn btn-outline-secondary btn-sm space"
                                                (click)="addSecundaryActionEffectDefaultAction()">
                                                <i class="material-icons">add</i>
                                                Add Secundary
                                            </button>
                                        </div>
                                    </div>

                                    <div *ngIf="!!heroType.defaultAction">
                                        <app-actioneffect (result)="heroType.defaultAction.mainActionEffect = $event" actionEffectName="Main Action Effect" [actionEffect]="heroType.defaultAction.mainActionEffect"
                                            [actionEffectTypes]="actionEffectTypes"></app-actioneffect>

                                        <app-actioneffect *ngFor="let secundaryActionsEffect of heroType.defaultAction.secundaryActionsEffects; let i = index" (result)="changeSecundaryActionEffectDefaultAction($event, i)"
                                            [actionEffectName]="'Secundary Action Effect - ' + (i + 1)" [actionEffect]="secundaryActionsEffect"
                                            [actionEffectTypes]="actionEffectTypes">
                                        </app-actioneffect>
                                    </div>

                                </div>


                            </div>

                            <div class="row">

                                <div class="card cardAction">

                                    <div class="card-header" data-background-color="blue">

                                        <div class="form-check form-black">
                                            <input class="form-check-input" type="checkbox" name="haveSpecialAction" (click)="changeHaveSpecialAction()" [ngModel]="heroType.specialAction!=null">
                                            <label class="title form-check-label">Special Action</label>
                                            <button *ngIf="heroType.specialAction!=null" type="button" style="margin: 0px" class="btn btn-outline-secondary btn-sm" (click)="addSecundaryActionEffectSpecialAction()">Add Secundary</button>
                                        </div>
                                    </div>

                                    <div *ngIf="!!heroType.specialAction">
                                        <app-actioneffect (result)="heroType.specialAction.mainActionEffect = $event" actionEffectName="Main Action Effect" [actionEffect]="heroType.specialAction.mainActionEffect"
                                            [actionEffectTypes]="actionEffectTypes"></app-actioneffect>

                                        <app-actioneffect *ngFor="let secundaryActionsEffect of heroType.specialAction.secundaryActionsEffects; let i = index" (result)="changeSecundaryActionEffectSpecialAction($event, i)"
                                            [actionEffectName]="'Secundary Action Effect - ' + (i + 1)" [actionEffect]="secundaryActionsEffect"
                                            [actionEffectTypes]="actionEffectTypes">
                                        </app-actioneffect>
                                    </div>

                                </div>


                            </div>

                            <button type="submit" class="btn btn-info pull-right">
                                <i class="material-icons">save</i>
                                Save HeroType
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>