<div class="card cardAction">

    <div class="card-header" data-background-color="orange">
        <div class="form-check form-black">
            <input class="form-check-input" type="checkbox" (click)="changeBuffEffect()" [ngModel]="buffEffect!=null">
            <label class="title form-check-label">{{buffEffectName}}</label>
            <button *ngIf="!!buffEffect" type="button" style="margin: 0px" class="btn btn-outline-secondary btn-sm" (click)="remove()">Remove</button>
        </div>
    </div>
    <div class="row" *ngIf="!!buffEffect">

        <div class="col-md-2">
            <div class="form-group form-black">
                <label>Percentage</label>
                <input type="text" class="form-control" [ngModel]="buffEffect.percentage" (ngModelChange)="buffEffect.percentage = $event"
                    (change)="refresh()">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group form-black">
                <label>Chance</label>
                <input type="text" class="form-control" [ngModel]="buffEffect.chance" (ngModelChange)="buffEffect.chance = $event" (change)="refresh()">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group form-black">
                <label>Duration</label>
                <input type="text" class="form-control" [ngModel]="buffEffect.duration" (ngModelChange)="buffEffect.duration = $event" (change)="refresh()">
            </div>
        </div>



        <div class="col-md-2">
            <div class="form-group form-black">
                <label>Buff Effect Type</label>
                <select class="form-control" [ngModel]="buffEffect.effectType" (ngModelChange)="buffEffect.effectType = $event" (change)="refresh()">
                    <option value=null>NULL</option>
                    <option *ngFor="let v of actionEffectTypes.buffEffectTypes">{{v}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group form-black">
                <label>Attribute Type</label>
                <select class="form-control" [ngModel]="buffEffect.attributeType" (ngModelChange)="buffEffect.attributeType = $event" (change)="refresh()">
                    <option value="null">NULL</option>
                    <option *ngFor="let v of actionEffectTypes.attributeTypes">{{v}}</option>
                </select>
            </div>
        </div>



    </div>

   
</div>