<div class="main-content">
    <div class="container-fluid">

        <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-black is-empty">
                        <input type="text" class="form-control" placeholder="Player Name" name="player" ngModel (ngModelChange)="player = $event" (keydown)="keyDownFindAllByPlayer($event)">
                        <span class="material-input"></span>
                    </div>
                    <button type="button" class="btn btn-white btn-round btn-just-icon" (click)="findAllByPlayer()">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                    <button type="button" class="btn btn-white btn-round btn-just-icon" [routerLink]="['/hero', 'new']">
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                                <tr>
                                    <th>Id</th>
                                    <th>Quality</th>
                                    <th>Level</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hero of heroes">
                                    <td>{{hero.id}}</td>
                                    <td>{{hero.quality}}</td>
                                    <td>{{hero.level}}</td>

                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" [routerLink]="['/hero', hero.id]" title="Edit Hero" class="btn btn-primary btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Delete Hero" class="btn btn-primary btn-simple btn-xs" (click)="delete(hero.id)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>