<div id="modal" [hidden]="!showingDialog" (click)="hideDialog()">

</div>
<div id="dialog" [hidden]="!showingDialog">
  <div id="dialog-content" class="dialog-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="main">
  <span id="npcpvp"></span>
  <span id="npcpve"  (click)="showDialog()" routerLink="/campaign"></span>
  <span id="npcshop" (click)="showDialog()" routerLink="/shop"></span>
  <span id="npcmage"></span>
</div>
<div id="avatar">
  <span id="avatar-img"></span>
  <span id="avatar-name">Jiajoy</span>
  <span id="avatar-level">95</span>
</div>

<div id="resources">
  <div>
    <ul>
      <li>
        <span style="background-image:url('../assets/img/gold.png')">1000</span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/gosma.png')">1000</span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/gems.png')">95</span>
      </li>
    </ul>
  </div>
</div>

<div id="social-menu">
  <div>
    <ul>
      <li>
        <span style="background-image:url('../assets/img/chat.png')"></span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/msg.png')"></span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/friend.png')"></span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/help.png')"></span>
      </li>
    </ul>

  </div>
</div>


<div id="player-menu">
  <div>
    <ul>
      <li>
        <span style="background-image:url('../assets/img/bag.png')"></span>
      </li>
      <li>
        <span (click)="showDialog()" routerLink="/heroes" style="background-image:url('../assets/img/hero.png')"></span>
      </li>
    </ul>

  </div>

</div>