#main {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/background.jpg');
    background-size: cover;
    overflow: hidden
}

#avatar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
}

#avatar-img {
    width: 64px;
    height: 64px;
    border: 1px solid #000;
    background: url('../assets/img/avatar.gif');
    display: block;
}

#resources {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 30;
}

#resources li {
    float: left;
}

#resources span {
    height: 32px;
    width: 48px;
    margin: 3px;
    display: block;
    background-size: cover;
}

#social-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 30;
}

#social-menu span {
    height: 48px;
    width: 48px;
    margin: 3px;
    display: block;
    background-size: cover;
}

#player-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 30
}

#player-menu li {
    float: left;
}

#player-menu span {
    height: 48px;
    width: 48px;
    margin: 3px;
    display: block;
    background-size: cover;
}

#npcpvp {
   display: block;
    background-size: cover;
    background-image: url("../assets/img/npcpvp.gif");
    position: fixed;
    height: 18%;
    width: 8%;
    margin-top: 2%;
    margin-left: 28%;
}

#npcpve {
    display: block;
    background-size: cover;
    background-image: url("../assets/img/npcpve.gif");
    position: fixed;
    height: 20%;
    width: 10%;
    margin-top: 26%;
    margin-left: 61%;
}

#npcshop {
    display: block;
    background-size: cover;
    background-image: url("../assets/img/npcshop.gif");
    position: fixed;
    height: 21%;
    width: 11%;
    margin-top: 35%;
    margin-left: 21%;
}

#npcmage {
    display: block;
    background-size: cover;
    background-image: url("../assets/img/npcmage.gif");
    position: fixed;
    height: 20%;
    width: 7%;
    margin-top: 15%;
    margin-left: 83%;
}

#modal {
    background: #000;
    z-index: 70;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: .7;
}

#dialog {
    border-style: solid;
    border-width: 25px;
    border-image: url('../assets/img/border.jpg') 25 fill repeat;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

#dialog-content {
    overflow-y: auto;
}
