<div id="modal" [hidden]="!showingDialog" (click)="hideDialog()">

</div>
<div id="dialog" [hidden]="!showingDialog">
  <div id="dialog-content" class="dialog-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="main">
  <span id="npcpvp" (click)="showDialog()" routerLink="/pvp"></span>
  <span id="npcpve" (click)="showDialog()" routerLink="/campaign"></span>
  <span id="npcshop" (click)="showDialog()" routerLink="/shop"></span>
  <span id="npcmage"></span>
</div>
<div id="avatar" *ngIf="!!player">
  <span id="avatar-img"></span>
  <span id="avatar-name">{{player.name}}</span>
  <span id="avatar-level">{{player.level}}</span>
</div>

<div id="resources" *ngIf="!!player">
  <div>
    <ul>
      <li>
        <img src="../assets/img/gold.png" alt="" /><span>{{player.gold | number}}</span>
      </li>
      <li>
        <img src="../assets/img/gosma.png" alt="" /><span>{{player.soul | number}}</span>
      </li>
      <li>
        <img src="../assets/img/gems.png" alt="" /><span>{{player.ancientRune | number}}</span>
      </li>
      <li>
        <img src="../assets/img/gems.png" alt="" /><span>{{player.spiritCrystal | number}}</span>
      </li>
    </ul>
  </div>
</div>

<div id="social-menu">
  <div>
    <ul>
      <li>
        <span style="background-image:url('../assets/img/chat.png')"></span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/msg.png')"></span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/friend.png')"></span>
      </li>
      <li>
        <span style="background-image:url('../assets/img/help.png')"></span>
      </li>
    </ul>

  </div>
</div>


<div id="player-menu">
  <div>
    <ul>
      <li>
        <span style="background-image:url('../assets/img/bag.png')"></span>
      </li>
      <li>
        <span (click)="showDialog()" routerLink="/heroes" style="background-image:url('../assets/img/hero.png')"></span>
      </li>
    </ul>

  </div>

</div>