<div class="main-content" *ngIf="state != 2">
    Chat offline
</div>
<div class="main-content" *ngIf="state == 2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-3 chat_sidebar">
                    <div class="row">
                        <form #f="ngForm" (ngSubmit)="createChat()">
                            <div id="custom-create-input">
                                <div class="input-group form-group form-black is-empty col-md-12 join_controll">
                                    <input type="text" class="chat-query form-control" placeholder="Chat to create" name="chatToCreate" [ngModel]="chatToCreate"
                                        (ngModelChange)="chatToCreate = $event" />
                                    <button type="submit">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form #f="ngForm" (ngSubmit)="joinChat()">
                            <div id="custom-join-input">
                                <div class="input-group form-group form-black is-empty col-md-12 join_controll">
                                    <input type="text" class="chat-query form-control" placeholder="Chat to join" name="chatToJoin" [ngModel]="chatToJoin" (ngModelChange)="chatToJoin = $event"
                                    />
                                    <button type="submit">
                                        <i class="material-icons">exit_to_app</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown all_conversation">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-weixin" aria-hidden="true"></i>
                                <span *ngIf="!chatJoined">Chats</span>
                                <span *ngIf="!!chatJoined">{{chatJoined.chatRoom}}</span>
                                <span class="caret pull-right"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li *ngFor="let chatJoined of chatsJoined">
                                    <a (click)="openChat(chatJoined)">{{chatJoined.chatRoom}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="member_list">
                            <ul class="list-unstyled">
                                <li class="left clearfix" *ngFor="let chatUser of chatUsers ">
                                    <span class="chat-img pull-left">
                                        <ngx-avatar [gravatarId]="chatUser.email" size=30 round=true [name]="chatUser.nickName"></ngx-avatar>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header_sec">
                                            <strong class="primary-font">{{chatUser.nickName}}</strong>
                                            <button *ngIf="chatUser.nickName != username" (click)="openPrivateChat(chatUser)">tcer</button>
                                        </div>
                                        <div class="contact_sec">
                                            <span *ngIf="chatUser.online" class="badge online pull-right"></span>
                                            <span *ngIf="!chatUser.online" class="badge offline pull-right"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--chat_sidebar-->


                <div class="col-sm-9 message_section">
                    <div class="row">
                        <div class="new_message_head">
                            <div class="pull-left">
                                <button>
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button>
                            </div>
                            <div class="pull-right">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Profile</a>
                                        </li>
                                        <li>
                                            <a href="#">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--new_message_head-->

                        <div class="chat_area" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <ul class="list-unstyled">
                                <li class="left clearfix" *ngFor="let chatMessage of chatMessages">
                                    <span class="chat-img1 pull-left">
                                        <ngx-avatar [gravatarId]="chatMessage.fromEmail" size=40 round=true [name]="chatMessage.fromNickName"></ngx-avatar>
                                    </span>
                                    <div class="chat-body1 clearfix">
                                        <p>{{chatMessage.text}}</p>
                                        <div class="chat_nickname pull-left">{{chatMessage.fromNickName}}</div>
                                        <div class="chat_time pull-right">{{chatMessage.date | date: 'MM/dd/yyyy hh:mm:ss'}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--chat_area-->
                        <div class="message_write">
                            <form #f="ngForm" (ngSubmit)="sendChatMessage()">
                                <div class="form-group form-black is-empty chat_text">
                                    <input [disabled]="!chatJoined" maxlength="500" class="form-control" placeholder="type a message" name="chatText" [ngModel]="text"
                                        (ngModelChange)="text = $event">
                                    <button type="submit" [disabled]="!chatJoined" class="btn btn-success btn-just-icon">
                                        <i class="material-icons">send</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                    <button type="button" [disabled]="!chatJoined" class="btn btn-danger btn-just-icon" (click)="leaveChat()">
                                        <i class="material-icons">delete</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--message_section-->
            </div>
        </div>
    </div>
</div>
<app-chatpm *ngFor="let user of privateMessagesKeys; let i = index" [index]="i" [messages]="privateMessages.get(user)"></app-chatpm>