<div *ngIf="!!pvpRoll">
  <p>Próximo roll em: {{timeUntilNextRoll | timeTo}} <button (click)="refreshRoll()">Roll</button><button (click)="paidRoll()">Roll Pago</button></p>
  <div class="playerPvp">
    <p>
      {{pvpRoll.namePlayerHigher}} - {{pvpRoll.pvpScoreHigher}}
    </p>
    <formation [data]="pvpRoll.formationHigher"></formation>
    <p>
      <button>Lutar</button>
    </p>
  </div>
  <div class="playerPvp">
    <p>
      {{pvpRoll.namePlayerLower}} - {{pvpRoll.pvpScoreLower}}
    </p>
    <formation [data]="pvpRoll.formationLower"></formation>
    <p>
      <button>Lutar</button>
    </p>
  </div>
  <div class="playerPvp">
    <p>
      {{pvpRoll.namePlayerRandom}} - {{pvpRoll.pvpScoreRandom}}
    </p>
    <formation [data]="pvpRoll.formationRandom"></formation>
    <p>
      <button>Lutar</button>
    </p>
  </div>
  <buildformation [allocation]="'PVP'" (newFormation)="refresh($event)"></buildformation>

</div>