<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <ng-container *ngIf="!!userResource">
                    <li *ngFor="let resource of userResource.resources">
                        <a href="#">
                            {{resource.type}} - {{resource.value | simpleNumber}}
                        </a>
                    </li>
                </ng-container>
                <li>
                    <a (click)="loadResources()">
                        <i class="material-icons">refresh</i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">mail</i>
                        <span *ngIf="unreadLength() > 0" class="notification">{{unreadLength()}}</span>
                        <p class="hidden-lg hidden-md">Mails</p>
                    </a>
                    <ul class="dropdown-menu mail" *ngIf="!!mails">
                        <li *ngFor="let m of mails" [className]="m.readed?'mail-message-readed':''">
                            <a class="dropdown-item left clearfix mail-message" data-toggle="modal" data-target="#mailModal" (click)="markAsReadPrivateMail(m)">
                                <span class="pull-left">
                                    <ngx-avatar size=40 round=true [name]="m.fromUserNickName"></ngx-avatar>
                                </span>
                                <div class="clearfix">
                                    <p>{{ (m.text.length > 20)? (m.text | slice:0:17)+'...':(m.text) }}
                                        <i *ngIf="!!m.reward" [className]="m.collected?'mail-message-collected material-icons pull-right':'material-icons pull-right'">card_giftcard</i>
                                    </p>
                                    <div class="mail-message-sub pull-left">{{m.fromUserNickName}}</div>
                                    <div class="mail-message-sub pull-right">{{m.date | date: 'MM/dd/yyyy'}}</div>
                                </div>
                            </a>

                        </li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="!!profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{profile.username}}
                        <i class="material-icons">person</i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="!!mail" class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
            <div class="modal-body">
                <p>{{mail.text}}</p>
                <hr>
                <div *ngIf="!!mail.reward">
                    <p *ngFor="let reward of mail.reward.rewards">{{reward.resource}} - {{reward.value}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!!mail.reward && !mail.collected" type="button" class="btn btn-primary" (click)="collectReward(mail)">Collect</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePrivateMail(mail)">Delete</button>
            </div>
        </div>
    </div>
</div>