@media (min-width: 768px)  {
    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        width: calc(100% - 260px);
    }
}

.mail {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mail-message {
    width: 250px;
    padding: 10px
}

.mail-message > div {
    margin-left: 50px;
}

.mail-message-readed {
    background: #EEE;
}

.mail-message-collected {
    opacity: .1;
}

.mail-message-sub {
    font-size: 11px;
    color: #666;
}

a:hover .mail-message-sub {
    color: #FFF;
}