.space {
    margin: 0 5px;
    padding: 5px;
}

.att {
    background: linear-gradient(60deg, #ef5350, #e53935);
}

.def {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 49.5%;
    }
    .defPanel {
        margin-left: 10px;
    }
}

.form-group {
    margin: 10px 0px 0px 0px;
}

.playerSearch {
    display: flex;
}

.playerSearch button {
    margin: 0 0 0 10px;
}
