<div class="main-content">
    <div class="container-fluid">
        <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-black is-empty">
                        <input type="text" class="form-control" placeholder="Guild Name" [ngModel]="guildName" (ngModelChange)="guildName = $event"
                            [ngModelOptions]="{standalone: true}">
                        <span class="material-input"></span>
                    </div>
                    <button type="button" class="btn btn-white btn-round btn-just-icon" (click)="create()">
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                    </button>
                    <button type="button" class="btn btn-white btn-round btn-just-icon" (click)="findByName()">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </nav>
        <div class="row" *ngIf="!!guild">
            <div class="col-md-12">
                {{guild.name}}
                {{guild.level}}
                {{guild.initialMessage}}
            </div>
        </div>
        <div class="row" *ngIf="!!guild">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Member Since</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let guildMember of guildMembers">
                                    <td>{{guildMember.nameMember}}</td>
                                    <td>{{guildMember.since | date}}</td>
                                    <td>{{guildMember.type}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>