<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Quality</th>
                                    <th>Role</th>
                                    <th>Faction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let heroType of heroesType" [routerLink]="['/heroType', heroType.id]">
                                    <td>{{heroType.name}}</td>
                                    <td>{{heroType.quality}}</td>
                                    <td>{{heroType.role}}</td>
                                    <td>{{heroType.faction}}</td>
                                    
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>