<div class="main-content">
    <div class="container-fluid">
        <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-black is-empty">
                        <input type="text" class="form-control" placeholder="Hero Type">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                    <button type="button" class="btn btn-white btn-round btn-just-icon" [routerLink]="['/heroType', 'new']">
                        <i class="material-icons">add</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </nav>


        <div class="row" *ngIf="!!heroesType">
            <div class="col-md-2" *ngFor="let heroType of heroesType">
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
                    <div class="card-body item text-right">
                        <h5 class="card-title">{{heroType.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{heroType.role}} - {{heroType.quality}} - {{heroType.faction}}
                        </h6>
                        <button type="button" rel="tooltip" [routerLink]="['/heroType', heroType.id]" title="Edit Hero Type" class="card-link btn btn-sm btn-primary">
                            <i class="material-icons">edit</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>