<div class="dialog-content" *ngIf="!!nextLevelFormationPve && !!formationPve">
  <p>Seu próximo desafio é:</p>
  <ul>
    <li *ngFor="let pHero of nextLevelFormationPve.positionedHeroes" [style.background]="'url(../assets/heroes/' + pHero.hero.heroType.name + '.png)'">
      <span class="badge badge-top-left" *ngIf="pHero.battlePosition == 'FRONT_TOP'">FT</span>
      <span class="badge badge-top-left" *ngIf="pHero.battlePosition == 'FRONT_MIDDLE'">FM</span>
      <span class="badge badge-top-left" *ngIf="pHero.battlePosition == 'FRONT_BOTTOM'">FB</span>
      <span class="badge badge-top-left" *ngIf="pHero.battlePosition == 'BACK_TOP'">BT</span>
      <span class="badge badge-top-left" *ngIf="pHero.battlePosition == 'BACK_MIDDLE'">BM</span>
      <span class="badge badge-top-left" *ngIf="pHero.battlePosition == 'BACK_BOTTOM'">BB</span>
      <span class="badge">{{pHero.hero.level}}</span>
    </li>
  </ul>

  <p>Sua composição é:</p>
  <ul>
    <li *ngFor="let key of formationPveTmp | keys">

      <span class="badge badge-top-left" *ngIf="key.key == 'FRONT_TOP'">FT</span>
      <span class="badge badge-top-left" *ngIf="key.key == 'FRONT_MIDDLE'">FM</span>
      <span class="badge badge-top-left" *ngIf="key.key == 'FRONT_BOTTOM'">FB</span>
      <span class="badge badge-top-left" *ngIf="key.key == 'BACK_TOP'">BT</span>
      <span class="badge badge-top-left" *ngIf="key.key == 'BACK_MIDDLE'">BM</span>
      <span class="badge badge-top-left" *ngIf="key.key == 'BACK_BOTTOM'">BB</span>
      <div class="lineUp" [dragula]='"heroLineUp"' id="{{key.key}}">
        <div *ngIf="key.value != null" [style.background]="'url(../assets/heroes/' + key.value.hero.heroType.name + '.png)'" [attr.data-id]="key.value.hero.id">
          <span class="badge-normal">{{key.value.hero.level}}</span>
        </div>
      </div>
    </li>
  </ul>
  <p></p>
  <p>
    <a (click)="fight()">Lutar</a>
  </p>
  <p></p>
  <p>Seus Heróis:</p>
  <ul>
    <li [dragula]='"heroLineUp"' *ngFor="let hero of selectHeroes" [id]="hero.id">
      <div [style.background]="'url(../assets/heroes/' + hero.heroType.name + '.png)'" [attr.data-id]="hero.id">
        <span class="badge-normal">{{hero.level}}</span>
      </div>
    </li>
  </ul>
</div>